<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Restaurant Rater</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
        <% if (user) { %>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Restaurants
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/restaurants">All Restaurants</a></li>
                        <li><a class="dropdown-item" href="/restaurants/Canada">Canada</a></li>
                        <li><a class="dropdown-item" href="/restaurants/USA">U.S.A</a></li>
                        <li><a class="dropdown-item" href="/restaurants/France">France</a></li>
                        <li><a class="dropdown-item" href="/restaurants/Spain">Spain</a></li>
                        <li><a class="dropdown-item" href="/restaurants/Greece">Greece</a></li>
                    </ul>
                </div>
                <li class="nav-item"><a class="nav-link" href="/restaurants/new">New Restaurant</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                <form action="/restaurants/search" method="get">
                    <li class="nav-item"><input type="text" name="q" placeholder="Search..."><button type="submit" class="btn btn-outline-info">Search</button></li>
                </form>
                <li class="nav-text">Restaurant Rater™</li>
            </ul>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img class="avatar-login" src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
    </nav>  

