<%- include('./partials/header') %>

<div id="carouselSlides" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.postimg.cc/wBFBphcV/lamias-1024x683.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5>Lamia's Fish Market</h5>
                <p>New York City, New York</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/rF2vDrPm/Nara-Pic24.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="soho">Nara-Ya</h5>
                <p class="soho">Washington D.C.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/zDF9RBZF/596e3d09dde1891cc0248789.webp" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5>Sirocco</h5>
                <p>Bangkok, Thailand</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/hjhs6zmB/best-restaurants-beauty-essex.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5>Beauty & Essex</h5>
                <p>New York City, New York</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/NMWnx7zV/alchemist-copenhagen-1638394487.png" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5>Alchemist</h5>
                <p>Copenhagen, Denmark</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/y8yk4Lhm/peak-restaurant-hudson-yards-bar-PEAKHYNY0120-73ca1dac6172420794785117c43d3ecf.webp" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5>Peak</h5>
                <p>New York City, New York</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/XNLHqWVm/tattu-2023-leeds-interior1-no-credit-1536x864.webp" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5>Tattu</h5>
                <p>Leeds, United Kingdom</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSlides" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselSlides" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br><br>
<h2 class="info">Welcome to Restaurant Rater!</h2>
<br><br><br>
<p class="info">Our site aims to review restaurants from around the world and provide up-to-date reviews and other information on all your favorite restaurants, and future restaurants on your wishlist!</p>
<p class="info">Ratings range from 1-5, 1 meaning "visit at your own risk" and 5 being "must visit destination"!</p>
<p class="info">With over 100 restaurants and counting, we continue to update our listings and aim to give you inspiration for your next outing! Feel free to add your own restaurants that you do not see as well, along with reviews and comments!</p>
<br><br><br><br><br><br><br><br>


<%- include('./partials/footer') %>