<%- include('./partials/header') %>

<h2> Welcome! Login above to access all the features of this site!</h2>
<div id="carouselSlides" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.postimg.cc/wBFBphcV/lamias-1024x683.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5>Lamia's Fish Market</h5>
                <p>New York City, New York</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/RVs54Xjq/download.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5>Soho House West Hollywood</h5>
                <p>West Hollywood, California</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/wMtmbWNZ/beautiful-restaurants.png" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5>Victor's Alderley Edge</h5>
                <p>Manchester, United Kingdom</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSlides" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselSlides" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br><br><br><br><br><br><br><br><br><br>


<%- include('./partials/footer') %>