.nav-text {
  margin-left: 75vmin;
  font-size: 3.5vmin;
}

.nav-item {
  padding: 0.5vmin;
}

.avatar {
  height: 5vmin;
  width: 5vmin;
}

.avatar-login {
  height: 5vmin;
  width: 5vmin;
}

.login {
  margin-left: 85vmin;
}

.all {
  font-size: 4vmin;
}