<%- include('../partials/header') %>

<h2>Enter New Restaurant</h2>
<form action="/restaurants" method="POST">
    <label>Name:
        <input type="text" name="name">
    </label><br>
    <label>Location:
        <input type="text" name="location">
    </label><br>
    <label>Latitude:
        <input type="number" name="latitude" step="0.01">
    </label><br>
    <label>Longitude:
        <input type="number" name="longitude" step="0.01">
    </label>
    <label>Hours of Operation:
        <input type="text" name="hours">
    </label><br>
    <button type="submit" class="btn btn-info">Submit</button>
</form>
<br><br><br><br><br><br><br><br><br><br>


<%- include('../partials/footer') %>