<%- include('../partials/header') %>

<h2>Enter New Comment</h2>
<form action="/comments/<%= comment._id %>?_method=PUT" method="POST">
    <label>Description:
        <input type="text" name="description">
    </label><br>
    <button type="submit" class="btn btn-info">Submit</button>
</form>
<br><br><br><br><br><br><br><br><br><br>

<%- include('../partials/footer') %>